@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
	--primary: #9bba5a;
	--secondary: #272f17;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-height: 100vh;
	overflow: hidden;
	background-color: var(--primary);
	height: 100vh;
}

.menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.menu-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 4rem 4rem;
	width: 37rem;
	height: 57%;
	border: 0.25rem solid var(--secondary);
	font-family: 'Audiowide', sans-serif;
	background: rgb(170, 204, 102);
	background: radial-gradient(
		circle,
		rgba(170, 204, 102, 1) 40%,
		rgba(146, 180, 82, 1) 100%
	);
}

.menu-wrapper h1 {
	font-size: 3.6rem;
}

.menu-wrapper p {
	font-size: 1.2rem;
}

.menu-wrapper .btns {
	display: flex;
	gap: 1rem;
}

.menu-wrapper button {
	padding: 0.8rem 1rem;
	font-size: 2.8rem;
	text-transform: uppercase;
	color: var(--secondary);
	background: transparent;
	border: none;
	cursor: pointer;
	transition: 0.2s;
	font-family: 'Audiowide', sans-serif;
	border-radius: 0.4rem;
}

.menu-wrapper button:hover {
	background-color: #99b954;
	/* box-shadow: 0.1rem 0.1rem 0.5rem 0.01rem var(--secondary); */
}

.menu-wrapper .radio-list {
	display: flex;
	gap: 0.5rem;
}

.menu-wrapper .radio-button {
	padding: 0.7rem;
	cursor: pointer;
	border-radius: 0.25rem;
}

.menu-wrapper .radio-button:not(.active):hover,
.menu-wrapper .radio-button.active {
	background-color: var(--secondary);
	color: var(--primary);
}

.menu-wrapper .radio-button > input {
	display: none;
}

.keys {
	position: absolute;
	top: 2rem;
	left: 2rem;
	color: #fff;
	font-weight: 600;
}

.game-container {
	width: 100vw;
	height: 100vh;
	justify-content: center;
	display: flex;
}

.game-field-container {
	flex: 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-field {
	border: 0.25rem solid var(--secondary);
	height: 60%;
	width: 55%;
}

.gui {
	flex: 1;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.3);
	gap: 2rem;
}

.label {
	font-family: sans-serif;
	font-size: 1rem;
	color: #fff;
}

.score-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.score-label {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score-label .label:nth-child(2) {
	margin-top: 0.5rem;
}

canvas {
	background-color: transparent !important;
}
